/* mobile.css */
body {
    font-size: 16px;
}

nav {
    & ul {
        flex-direction: row;
        & li {
            margin: 1rem ;
        }
    }
}

section {
    padding: 1rem;
}

.card {
    width: 100%;
    flex: 1 1 100%;
}

.skills, .projects, .experience, .contact {
    flex-direction: c;
}